# Default ignored files
/../../military_simulation /.idea/shelf/
/../../military_simulation /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../military_simulation /.idea/httpRequests/
# Datasource local storage ignored files
/../../military_simulation /.idea/dataSources/
/../../military_simulation /.idea/dataSources.local.xml
